.modal-with-form__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); /* dark overlay */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000; /* high value to overlay everything */
  padding-top: 0px; /* space from the top */
}

.modal-with-form {
  background: #fff;
  max-width: 430px;
  width: 100%;
  height: auto;
  border-radius: 12px;
  box-shadow: 0 4px 32px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: stretch;
}

.modal-with-form__close {
  position: absolute;
  top: -50px; /* adjust as needed */
  right: -50px; /* adjust as needed */
  background: transparent;
  border: none;
  cursor: pointer;
  z-index: 1100;
  padding: 0;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-with-form__close img {
  width: 40px;
  height: 40px;
  display: block;
}

/* Responsive modal styles */
@media (max-width: 768px) {
  .modal-with-form__overlay {
    width: 90vw;
    padding: 16px;
  }
}
@media (max-width: 400px) {
  .modal-with-form__overlay {
    width: 98vw;
    padding: 8px;
  }
}
